{% extends 'accounts/contact_about.html' %}
{% load static %}

    
{% block content %}
    <div class="container">
        <h1>Contact Us</h1>
        <p>For inquiries, support, or suggestions, please reach out to us at:</p>
        <ul>
            <li>Email: support@adorntech.com</li>
            <li>Phone: +233 123 456 789</li>
            <li>Address: 123 Learning St, Accra, Ghana</li>
        </ul>
        <p>You can also follow us on social media:</p>
        <ul>
            <li><a href="https://facebook.com/adorntech">Facebook</a></li>
            <li><a href="https://twitter.com/adorntech">Twitter</a></li>
            <li><a href="https://instagram.com/adorntech">Instagram</a></li>
        </ul>
    </div>
    {% include 'accounts/footer.html' %}
{% endblock  %}
    
